<body>
    <div class="container">


        <div id="wrapper" class=" jumbotron text-center">
            <h1>Austin Pets Alive</h1>
            <h2><i>Available dogs at Austin Pets Alive.</i></h2>
            <a class="btn btn-primary btn-lg" id="scrapeButton">Search</a>
        </div>
        <div class="col-md-12 center">


            <div id="articles" class=""></div>
            <!--<div id="notes" class="col-md-8"></div>-->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="/assets/scripts/app.js"></script>
</body>